@import "bootstrap";
@import "font-awesome";

body {
  margin: 0;
  padding: 0;
}
.navbar-brand{
  padding: 0;
}
.navbar-brand img{
  width: 6rem;
  height: 4rem;
}

.navbar {
  padding: 0;
}

.category-name {
  background: url("https://picsum.photos/id/100/300") no-repeat;
  height: 80vh;
  color: white;
  text-decoration: solid;
  text-transform: uppercase;
  margin: 0;  
  background-size: cover;
}
.container-fluid{
  padding: 0px;
  margin: 0px;
}
.navbar-nav a { 
  color:#968e7f !important;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.privacy {
  color: #f26003cc;
}

.footer {
  background-color: #413631fa;
  color: white;
}

.footer-icon .brand {
  color: #f26003cc;
  padding: 5px;
}
.navbar-nav a:hover {
  color: #f26003cc !important;
}