@import "bootstrap";

.navbar-brand img{
  width: 6rem;
  height: 4rem;
}

.navbar {
  padding: 0;
}

.navbar-nav a { 
  color:#968e7f !important;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.navbar-nav a:hover {
  color: #ff8700 !important;
}