// Article
.card {
  height: 50vh;
}

.card-body {
  padding: 0rem !important;
}

.panel {
  color: white;
}

.card-2 {
  color: black;
  font-weight: 500;
  margin: 0.5rem 0 0 1rem;
}

.title-1 {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.title-1:hover {
  color: #f26003cc;
}

.card-category a:hover {
  color: #f26003cc;
}

.card-title {
  text-transform: uppercase;
  color: #f26003cc;
  font-size: medium;
  text-decoration: underline;
}

.link {
  color: black;
  margin-top: 0.5rem;
}

.card-link {
  color: black;
  font-weight: 600;
}

.card-link:hover {
  color: #f26003cc;
}

.like {
  color: #f26003cc;
}

.headline {
  color: #f26003cc;
  text-decoration: underline;
}

.like input[type=submit] {
  background-color: #f26003cc;
}

.card-image {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.card-category a {
  color: black;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}