@import "bootstrap-sprockets";

@import "bootstrap";
@import "font-awesome";

.footer {  
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  text-align: center;
}